<template>
    <div>
        <div class="clearfix"></div>
            <div class="white-content">
                <div class="content" id="whyWorkWithMe">
                    <div class="synth-background">
                        <div class="clearfix"></div>
                            
                        <h1>Why work with me</h1>
                        <h4>I can provide everything you need, to enhance the experience of your production.</h4>

                        <div class="synth-grid">
                            <div class="why-me-cube">
                                <h2>Dedication and experience</h2>
                                <hr class="h1_hr">
                                <div class="clearfix"></div>
                                Experienced creating music for the film and video game industry.
                            </div>
                            <div class="why-me-cube">
                                <h2>Original composition</h2>
                                <hr class="h1_hr">
                                <div class="clearfix"></div>
                                A great emphasis on composing the tune and on the orchestration, creating memorable pieces of music. 
                            </div>
                            <div class="why-me-cube">
                                <h2>Quality work</h2>
                                <hr class="h1_hr">
                                <div class="clearfix"></div>
                                Working with the latest technologies and producing compositions to a high standard. 
                            </div>
                        </div>
                    </div>
            </div>

            <div class="clearfix"></div>

            <div class="content" id="contact">
                <div class="fifty-percent-grid">
                    <div class="fifty-percent">
                        <h1>It's all about finding the right connection</h1>
                        <hr class="h1_hr">
                        <div class="clearfix"></div>
                        If you find my portfolio interesting, and you believe that my music would suit your
                        new project, feel free to contact me and discuss about further 
                        collaboration. </br> </br> Send me a sample of your movie or game and we can talk about the details.
                         
                    </div>

                    <div class="fifty-percent blue-background">
                        <h3>*Name</h3>
                        <input type="text" class="input" v-model="name" placeholder="Name">

                        <h3>*Email address</h3>
                        <input type="text" class="input" v-model="email" placeholder="Email address">

                        <h3>Phone number</h3>
                        <input type="text" class="input" v-model="phoneNumber" placeholder="Phone number">

                        <h3>*Message</h3>
                        <textarea class="input message-box" v-model="message" placeholder="type your message"></textarea>

                        <button class="btn btn_hover transition" v-on:click="sendEmail">Send!</button>
                    </div>
                </div>      
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
        name:"",
        email:"",
        phoneNumber:"",
        message:""
    }
  },
  methods: {
      sendEmail: function() {
        let emailObj = {
            "email":this.email,
            "message":this.message,
            "name":this.name,
            "phoneNumber":this.phoneNumber
        };

        this.$http.post("http://localhost:3000/email", {
            headers: {
                'Access-Control-Allow-Origin': '*',
                'Access-Control-Allow-Methods': 'POST, GET, PUT, OPTIONS, DELETE',
                'Access-Control-Allow-Headers': 'Access-Control-Allow-Methods, Access-Control-Allow-Origin, Origin, Accept, Content-Type',
                'Content-Type': 'application/json',
                'Accept': 'application/json'
          }
        }, emailObj)
        .then(function(response) {
            console.log(response);
        });
    }
  },
  mounted() {
    let inputs = document.getElementsByClassName("input");
    for(let i = 0; i < inputs.length; i++) {
        inputs[i].addEventListener("keydown", function(e) {
            e.stopPropagation();
        });
    }
  }
}
</script>